:root {
    --clr-pri : #fcdb00;
    --clr-sec : #010101;
    --clr-ter: #313841;
    --clr-para: #555555;
    --clr-89: #898989;
}

body{
    font-family: "PT Sans", sans-serif;
}

/** heroSection  */

.heroSection{
    background-color:var(--clr-pri);
    padding:60px 0 100px;
}

.navbar-default.mainNavbar {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-toggle.navToggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle.navToggle:focus, .navbar-default .navbar-toggle.navToggle:hover {
    background-color: transparent;
    border: transparent;
}

.navbar-header a.navbar-brand{
    padding:0;
}

.navbar-default .navbar-right li a{
    color: var(--clr-sec);
    font-size:22px;
    font-weight:bold;
    
}

.nav-pri li a{
    position:relative;
}

.nav-pri li a::before{
    content: "";
    position: absolute;
    height : 4px;
    width:0;
    left:50%;
    bottom:0;
    background-color:var(--clr-sec);
    transition: all 0.3s ease-in-out;
}

.nav-pri li a:hover::before,
.nav-pri li a:focus::before,
.nav-pri li a:active::before{
    width:100%;
    left:0;

}

.heroDetails {
    /* width: 400px; */
}

.para{
    color: var(--clr-para);
}

.heroIcons li{
    margin-right: 35px;
}

.heroIcons li a i{
    color: #010101;
    transition: all 0.2s linear;
}

.heroIcons li a i:hover{
    transform : rotate(360deg);
    color: blue;
}

/* ! featureSection */

.featureSection{
    padding: 115px 0 80px;
}

.featureSection .pri-heading{
    margin-top:0;
}

.featureDetails{
    padding: 0 40px;
}

.list-details{
    color: var(--clr-89);
}

.list-grp h3{
    margin-top:0;
    color: var(--clr-sec);
    font-size:22px;
}

/* ! FooterSection  */

.footerSection{
    background-color: var(--clr-sec);
    padding: 95px 0 135px;
}

.footerSection .pri-heading{
    color:var(--clr-pri);

}

.footerSection .sec-heading{
    color:var(--clr-89);
}

.emailInput{
    height:50px;
    padding:15px 25px;
}

.emailInput::placeholder{
    font-size: 16px;
    color:var(--clr-89);
}

.emailBtn{
    height:50px;
    width:150px;
    background-color:var(--clr-pri);
    font-weight:bold;
    color:var(--clr-sec);
    border-radius:5px;
    border:none;
    transition: all 0.2s linear;
}

.emailBtn:hover{
    background-color:#fff;
    color:var(--clr-sec);
}

.inputbtn{
    margin-bottom:80px;
}

label{
    display:none;
}

.footerSection .heroIcons a i{
    color:var(--clr-pri);
}


.addressDetails ul li{
    display:block
}

.addressDetails{
    margin-top:125px;
    color:#fff;
}

.addressDetails a{
    color:inherit;
}

@media all and (max-width:770px){

    .emailInput{
        margin-bottom:20px;
    }

    .heroSection figure{
        margin-top: 20px;
        text-align:center;
    }

    .heroDetails{
        margin-top:0;
    }

    .mb-70{
        margin-bottom:20px;
    }

    .mb-80{
        margin-bottom:25px;
    }

    .emailBtn{
        width:100%;
        height:40px;
    }

    .emailInput{
        height:40px;
    }

    .addressDetails{
        margin-top:100px;
    }

    .navbar-default .navbar-toggle.navToggle:focus, .navbar-default .navbar-toggle.navToggle{
        background-color: transparent;
        border: none;
    }

    .navbar-default .navbar-toggle.navToggle:focus, .navbar-default .navbar-toggle.navToggle:is(:hover,:focus,:active) {
        background-color: transparent;
        border: none;
    }
}